* {
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	font-family: 'Open Sans', 'Droid Arabic Naskh', Tahoma;
	color: #222;
}

article {
	width: 640px;
	margin: 70px auto;
	direction: rtl;
}

h1, h3 {
	font-weight: 400;
	text-align: center;
}

h1 {
	font-family: Ubuntu;
	letter-spacing: 2px;
	font-size: 68px;
	color: #f5f5f5;
	padding: 30px;
	background: #333;
	box-shadow: 0 -2px 12px #666;
}

h3 {
	font-size: 24px;
	margin-bottom: 50px;
}

h4 {
	font-size: 16px;
	margin-bottom: 4px;
	margin-top: 12px;
	text-align: right;
}

p {
	padding-bottom: 10px;
	font-size: 14px;
	text-align: justify;
	font-family: vazir, 'Droid Arabic Naskh', Tahoma;
	line-height: 26px;
}

a {
	background-color: transparent;
	cursor: pointer;
	outline: 0;
	color: #222;
}

a:hover, a:active {
	color: #990000;
}
